<hr class="comment">
  {{update-answer answer=answer saveAnswer='saveAnswer' updateAnswer='updateAnswer' deleteAnswer='deleteAnswer'}}

  <p>{{answer.name}} says, '{{answer.answer}}.'</p>
<hr class="comment">
