<hr class="comment">
  {{update-answer answer=answer saveAnswer='saveAnswer' updateAnswer='updateAnswer' deleteAnswer='deleteAnswer'}}

  <h2>More information about {{answer.id}}{{answer.name}} {{answer.answer}}</h2>
<hr class="comment">
