<div>
{{outlet}}
</div>

<div class="row">
  <div class="col-md-2">
  </div>

  <div class="col-md-8">
    <div class="body">
      {{new-question saveQuestion="saveQuestion"}}
      <ul id=indexUL>
        {{#each model.questions as |question|}}
          <div class="well">
            {{question-tile question=question destroyQuestion="destroyQuestion"}}
          </div>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-md-2">
  </div>
</div>
